.jajar-genjang {
    /* padding: 0.6em 2em; */
    border: none;
    outline: none;
    /* color: rgb(255, 255, 255); */
    /* background: #111; */
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transform: skewX(-0deg);
    transition: transform 0.8s;
  }

  .jajar-genjang:hover::before {
    content: "";


    background: linear-gradient(
        45deg, #609966,#609966,#609966, whitesmoke,#609966
        , #609966,#609966,#609966, whitesmoke
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-jajar-genjang 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  @keyframes glowing-jajar-genjang {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  .jajar-genjang:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: #222; */
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  .jajar-genjang:hover {
    transform: translateY(-10px) ;
    transition: transform 0.8s;
  }